<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.root.children.each do |taxon| %>
                <% if taxon.children.present? %>
                  <a href="javascript:;" data-toggle="collapse" data-target="#taxon_<%= taxon.id %>">　<%= taxon.name %><i class="fa fa-plus"></i></a>
                  <ul id="taxon_<%= taxon.id %>" class="collapse collapseItem">
                    <% taxon.children.each do |child_taxon| %>
                      <li>
                        <%= link_to potepan_category_path(child_taxon.id) do %>
                          <i class="fa fa-caret-right stratify-child-element" aria-hidden="true"></i>　<%= child_taxon.name %> <span>(<%= child_taxon.classifications_count %>)</span>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                <% else %>
                  <li>
                    <%= link_to potepan_category_path(taxon.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %> <span>(<%= taxon.classifications_count %>)</span>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
