<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "category_finder", taxon: @taxon, taxonomies: @taxonomies %>
        <%= render "price_finder" %>
        <%= render "option_type_finder", option_types: @option_types %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "sort_button" %>
        <%= render "product_associated_with_taxon", taxon: @taxon %>
      </div>
    </div>
  </div>
</section>
