<% option_types.each do |option_type| %>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">find by <%= option_type.presentation %></div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% option_type.option_values.each do |option_value| %>
          <li><a href="#"><%= option_value.name %><span>(<%= option_value.option_values_variants_count %>)</span></a></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
