<% provide(:title, @product.name) %>

<section class="lightSection clearfix pageHeader">
  <div class="container">
    <%= render "upper_bar", product: @product %>
  </div>
</section>

<section class="mainContent clearfix">
  <div class="container">
    <%= render "single_product", product: @product %>
    <%= render "related_products", related_products: @related_products %>
  </div>
</section>
